body {
    margin: 0px;
    padding: 0px;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    background-color: #45CEEF;
}

.containers-background {
    background-color: #1A91AE;
}

.header {
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.5);
    text-align: center;
    font: 90px/70px "Allan",arial,serif;
    color: rgba(0, 0, 0, 0.5);
}

#small-outline {
    color: #FFF;
    height: 20px;
    text-align: center;
    font: 12px/20px Helvetica,arial,sans-serif;
    background-color: #15748B;
}

#container {
    background-color: #45CEEF;
    padding: 0 20px;
}